/* Default CSS */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  outline: 0;
  box-sizing: border-box;
}

::selection {
  background-color: transparent;
}

html {
  font-size: 10px;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  background-color: rgb(40, 40, 40);
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Dropdown CSS */
.container {
  margin: 5rem;
}

.menu {
  display: flex;
  justify-content: center;
}

/* color and hover start */

.menu-item,
.dropdown-menu-item,
.dropdown-submenu-item {
  background-color: rgb(30, 185, 140);
  padding: 1rem 2rem;
  border-radius: 3px;
  cursor: pointer;
  width: 20rem;
  transition: all 0.2s ease;
  display: inline-block;
}

.menu-item {
  margin: 0 0.5rem;
}

.menu-item:hover,
.dropdown-menu-item:hover,
.dropdown-submenu-item:hover {
  background-color: rgb(10, 140, 110);
}
/* color and hover end */

/* border radius start*/
.dropdown-menu-item,
.dropdown-submenu-item {
  border-radius: 0;
}

li:first-child > .dropdown-menu-item,
li:first-child > .dropdown-submenu-item {
  border-radius: 3px 3px 0 0;
}

li:last-child > .dropdown-menu-item,
li:last-child > .dropdown-submenu-item {
  border-radius: 0 0 3px 3px;
}
/* border radius end*/

/* visibility on hover start */
.dropdown-menu {
  margin-top: 3rem;
  margin-left: 0.5rem;
  display: none;
}

.active + .dropdown-menu {
  display: block;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-submenu {
  position: absolute;
  left: 110%;
  top: 0;
  display: none;
}

.active + .dropdown-submenu {
  display: block;
}
/* visibility on hover end */
